input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.AppHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #222;
    height: 100px;
    padding: 20px;
    color: white;
}

.AppMain {
    margin-top: 100px;
    top: 400;
    padding: 40px;
    margin-bottom: 100px;
}

.AppFooter {
    padding: 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: left;
    background-color: #555;
    height: 80px;
    color: white;
}

#navigateTitle {
    font-size: 15px;
    color: white;
}

.link {
    padding-right: 10px;
    font-size: 12px;
    color: white;
}

.pageTitle {
    margin-bottom: 40px;
}